<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}My Novel{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-8 column">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div id="myAlert" class="alert alert-success">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <div class="btn-group-vertical floatButton">
        <button id="goTop" class="btn btn-default" title="去顶部" type="button">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button id="goBottom" class="btn btn-default" title="去底部" type="button">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(function(){
        $('#goTop').click(function(){
            $('html, body').animate({scrollTop: '0px'}, 800);
        });
        $('#goBottom').click(function(){
            $('html, body').animate({scrollTop: $('.footer').offset().top}, 800);
        });
    });
</script>
</body>
</html>
