{% extends "base.html" %}

{% block title %}
MyNovels
{% endblock %}

{% block content %}
<h3 align="center">搜索</h3><hr>
<form action="" method="post" name="search">
{{form.hidden_tag()}}
{{form.search_name(class="form-control",placeholder="输入你要搜索的书名")}}
{% for error in form.search_name.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}<br>
{{form.submit(value="搜索",class="btn btn-default")}}
</form>
<hr>
<div class="github-card" data-github="Blackyukun/dingdian" data-width="400" data-height="" data-theme="default"></div>
{% block script %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
{% endblock %}
{% endblock %}