{% extends "base.html" %}

{% block title %}
MyNovels
{% endblock %}

{% block content %}
<h3 align="center">搜索</h3><hr>
<form action="" method="post" name="search">
{{form.hidden_tag()}}
{{form.search_name(class="form-control",placeholder="输入你要搜索的书名")}}
{% for error in form.search_name.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}<br>
{{form.submit(value="搜索",class="btn btn-default")}}
</form>
<hr>
{% for i in books %}
<ul class="list-group">
    <li class="list-group-item">
        <table>
            <tr>
                <td>
                    <img class="img" src="{{i.book_img}}">
                </td>
                <td>
                    <a href="{{url_for('main.chapter',book_id=i.id)}}">{{i.book_name}}</a>
                    <p><b>简介：</b>{{i.profile | safe}}</p>
                    <p><b>作者：</b>{{i.author}}</p>
                    <p><b>类型：</b>{{i.style}}</p>
                    <p><b>更新时间：</b>{{i.last_update}}</p>
                </td>
            </tr>
        </table>
    </li>
</ul>
{% endfor %}
<ul class="pager">
    {% if page-1 != -1 %}
	<li class="previous"><a href="{{url_for('main.result',search=search,page=page-1)}}">&larr; Older</a></li>
    {% endif %}
    {% if page+1 !=10 %}
	<li class="next"><a href="{{url_for('main.result',search=search,page=page+1)}}">Newer &rarr;</a></li>
    {% endif %}
</ul>
{% block script %}
{{ super() }}
{% endblock %}
{% endblock %}