{% extends "base.html" %}

{% block title %}Contents{% endblock %}

{% block page_content %}
<div class="page-header">
    <h4>{% if bookname %}{{ bookname }}{% else %}无{% endif %}章节目录</h4>
    <br>
    <h6>{% if author %}{{ author }}{% endif %}</h6>
    <form action="/download/{{ bookname }}">
        <input type="submit" name="download" value="txt下载">
    </form>

</div>

<div>
    <ul>
        {% for k, v in data.items() %}
        <li>
            <a href="/post/{{ bookid }}/{{ k }}">{{ v }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}