{% extends "base.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" type="text/css">
{% endblock %}

{% block title %}Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 align="center">{{ title }}</h1>
</div>

<div>
    {% for i in post %}
    <h4>{{ i }}</h4><br><br>
    {% endfor %}
</div>
<div class="page">
    <ul>
        <li>
            <a href="/post/{{ bookid }}/{{ id - 1 }}">上一章</a>
        </li>
        <li>
            <a href="/contents/{{ bookid }}">目录</a>
        </li>
        <li>
            <a href="/post/{{ bookid }}/{{ id + 1 }}">下一章</a>
        </li>
    </ul>
</div>

{% endblock %}